

<h1>{{title}}</h1>



<input type="button" onclick="location.href='/auth/google';" value="sign in" />

<button id="buttons" type="submit">blah</button>
<a href="/welcome">WELCOME</a>

<a href="/resorts/all">RESORTS</a>

<a href="/map">MAPS</a>
<div id='cam'>

</div>


<div id='results'>

</div>





<!--  AIzaSyB1GeHyNDCygwnJuNa6_dWP4LhKMmyjwkA   google api key     -->
