
<div class="container-fluid" id="index-container">
  <div class='container-fluid' id="overlay">
  <h1>{{title}}</h1>
  <input type="button" onclick="location.href='/auth/google';" value="sign in" />
  <a href="/welcome">WELCOME</a>
  <a href="/resorts/all">RESORTS</a>
  <a href="/map">MAPS</a>
  <a href="/ham">TESTER</a>
  <a href='/search'>Search</a>
  <ul id='resortList'>
    {{#each resDetails}}
    <a href='/resorts/test'>
       <li class='resortList'>{{this.resort_id}}</li>
    {{/each}}
  </ul>
</div>
</div>





<!--  AIzaSyB1GeHyNDCygwnJuNa6_dWP4LhKMmyjwkA   google api key     -->
