


<h1>{{data.resort_name}}</h1>

<div id='resort-single-data'></div>

<div id='results'>

</div>
<div id='cam'>
  
</div>



<ol>
  {{#each data}}
  <li>{{this}}</li>
  {{/each}}
</ol>

<ol id='ham'>
  <li id='1'>one</li>
  <li id='2'>two</li>

</ol>
<script>
$(document).ready(() => {
  $('li').click(function()  {
    console.log(this.id)
  })
})

</script>

<!-- <script>
$(document).ready(()=> {
  var liftieUrl = 'https://cors-anywhere.herokuapp.com/http://liftie.info/api/resort/breckenridge'
  $('#resortList li').click(function()  {
    var $this = $(this)
    var selKeyVal = $this.attr("value")
    console.log('Text ' + $this.text() + 'value ' + selKeyVal);
    console.log($(this).attr('id'))
  })
$.ajax({
  url: liftieUrl,
  method: "GET",
  success: function (data)  {
    var obj = data.lifts.status;
    var cams = data.webcams;
    for(var i=0;i<cams.length;i++)  {
      $('#cam').append('<img src='+cams[i].image+'>')
    }
    console.log(data);


    $.each( obj, function( key, value ) {
      $('#results').append('<p>'+ key + ": " + value+'</p>' );
    });
    $('#cam').append('<div>' + data.weather.conditions+'</div>')

  },
  error: function(err) {
            console.log(err)
        }
})
})
</script> -->
