<!-- <form id='resFilter'>
  <div id='begSearch'
  <input type="radio" name="" value='1' checked> 1<br/>
  <input type="radio" name="" value="2"> 2<br/>
  <input type="radio" name="" value="3"> 3<br/>
  <input type="radio" name="" value="4" />4<br/>
  <input type="radio" name="" value="5" />5


</form> -->


<form id='resSearchForm'>
  <label for='beginner'>Beginner Terrain</label>
    <input id="begInput" name='begInput'type="range" min="0" max="5" step="1" />
  <label for=''>Intermediate Terrain</label>
    <input id="intInput" name='intInput' type="range" min="0" max="5" step="1" />
  <label for=''>Advanced Terrain</label>
    <input id="advInput" name='advInput' type="range" min="0" max="5" step="1" />
  <label for=''>Expert Terrain</label>
    <input id="expInput" name='expInput' type="range" min="0" max="5" step="1" />
  <label for=''>Tree Skiing</label>
    <input id="treeInput" name='treeInput' type="range" min="0" max="5" step="1" />
  <label for=''>Off Piste Terrain (Ungroomed runs with more extreme terrain or moguls)</label>
    <input id="pisteInput" name='pisteInput' type="range" min="0" max="5" step="1" />
  <label for=''>Snow Quality</label>
    <input id="snowInput" name='snowInput' type="range" min="0" max="5" step="1" />
  <label for=''>Uncrowded</label>
    <input id="crowdInput" name='crowdInput' type="range" min="0" max="5" step="1" />
  <label for=''>Terrain Park</label>
    <input id="terrInput" name='terrInput' type="range" min="0" max="5" step="1" />
  <label for=''>Family Friendly</label>
    <input id="famInput" name='famInput' type="range" min="0" max="5" step="1" />
  <label for=''>Nightlife</label>
    <input id="nightInput" name='nightInput' type="range" min="0" max="5" step="1" />
  <label for=''>Ski-in Ski-out</label>
    <input id="skiinInput" name='skiinInput' type="range" min="0" max="5" step="1" />
  <label for=''>Apres ski (After ski drinks and food)</label>
    <input id="apresInput" name='apresInput' type="range" min="0" max="5" step="1" />
  <label for=''>Cost</label>
    <input id="costInput" name='costInput' type="range" min="0" max="5" step="1" />
  <button type="submit" value='submit'>button</button>



</form>
