
<h1 onload="checkCookie()">All resorts</h1>
<div class='container-fluid' id='all-resorts'>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        {{#each resorts}}
            <div class="card" id='resortList'>
                <a href='/resorts/single/{{this.id}}'>
                    <img class="card-img-top" id="card-pic"src="{{this.image}}" />
                    <div class="card-block">
                        <h4 class="card-title">{{this.resort_name}}</h4>
                        <h3 class="card-text">Overall Rating: {{this.overall}}/10</h3>
                    </div>
                </a>
            </div>
    {{/each}}
    <div class="col-lg-2"></div>
  </div>
  </div>
</div>
