<h1 onload="checkCookie()">All resorts</h1>

<ul id='resortList'>
  {{#each resorts}}
  <a href='/resorts/{{this.id}}'>
     <li value='{{this.resort_name}}' class='resortList'id='{{this.api_path}}'>{{this.resort_name}}</li>
  {{/each}}
</ul>
