


<h1>{{data.resort_name}}</h1>

<div id='resort-single-data'></div>



<ol>
  {{#each data}}
  <li>{{this}}</li>
  {{/each}}
</ol>

<script>$(document).ready(()=> {

  var liftieUrl = 'https://cors-anywhere.herokuapp.com/http://liftie.info/api/resort/'
$.ajax({
  url: liftieUrl + '{{resorts.id}}',
  method: "GET",
  success: function (data)  {
    var obj = data.lifts.status;
    var cams = data.webcams;
    for(var i=0;i<cams.length;i++)  {
      $('#cam').append('<img src='+cams[i].image+'>')
    }
    console.log(data);


    $.each( obj, function( key, value ) {
      $('#results').append('<p>'+ key + ": " + value+'</p>' );
    });
    $('#cam').append('<div>' + data.weather.conditions+'</div>')

  },
  error: function(err) {
            console.log(err)
        }
})
})</script>
