<form id='resSearchForm'>
  <div>
    <input id="begInput" name='begInput' value='4' type="range" min="0" max="5" step="1" />
    <label for='beginner'>Beginner Terrain</label>
</div>
  <div>
    <input id="intInput" name='intInput' type="range" min="0" max="5" step="1" />
    <label for=''>Intermediate Terrain</label>
</div>
  <div>
    <input id="advInput" name='advInput' type="range" min="0" max="5" step="1" />
    <label for=''>Advanced Terrain</label>
</div>
  <div>
    <input id="expInput" name='expInput' type="range" min="0" max="5" step="1" />
    <label for=''>Expert Terrain</label>
</div>
  <div>
    <input id="treeInput" name='treeInput' type="range" min="0" max="5" step="1" />
    <label for=''>Tree Skiing</label>
</div>
  <div>
    <input id="pisteInput" name='pisteInput' type="range" min="0" max="5" step="1" />
    <label for=''>Off Piste Terrain (Ungroomed runs with more extreme terrain or moguls)</label>
</div>
  <div>
    <input id="snowInput" name='snowInput' type="range" min="0" max="5" step="1" />
    <label for=''>Snow Quality</label>
</div>
  <div>
    <input id="crowdInput" name='crowdInput' type="range" min="0" max="5" step="1" />
    <label for=''>Uncrowded</label>
</div>
  <div>
    <input id="terrInput" name='terrInput' type="range" min="0" max="5" step="1" />
    <label for=''>Terrain Park</label>
</div>
  <div>
    <input id="famInput" name='famInput' type="range" min="0" max="5" step="1" />
    <label for=''>Family Friendly</label>
</div>
  <div>
    <input id="nightInput" name='nightInput' type="range" min="0" max="5" step="1" />
    <label for=''>Nightlife</label>
</div>
  <div>
    <input id="skiinInput" name='skiinInput' type="range" min="0" max="5" step="1" />
    <label for=''>Ski-in Ski-out</label>
</div>
  <div>
    <input id="apresInput" name='apresInput' type="range" min="0" max="5" step="1" />
    <label for=''>Apres ski (After ski drinks and food)</label>
</div>
  <div>
    <input id="costInput" name='costInput' type="range" min="0" max="5" step="1" />
    <label for=''>Cost</label>
</div>
  <button type="submit" value='submit'>Search</button>



</form>
