body {

  background-color:rgb(124, 138, 159) ;
  /*background-image: url('../images/breck-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;*/
  font-family: 'Open Sans', sans-serif;

}
.jumbotron-fluid  {

}

#jumbo-div  {

}

#jumbotronPic {

}

#index-container  {
  width: 100%;
  padding: 0;
}


.main-top {
  margin: 0;
  width: 100%;
  min-height: 450px;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#your-trip  {
position: absolute;
width: 45%;
height: 100%;
top: 0;
left: 0;
float: left;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
overflow: hidden;
padding: 0px;
}


#your-trip > div > p  {
  padding: 20px;
}



.main-pics  {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0;
  min-height: 350px;
  background-image: url('../images/vail-pow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

#vail-pow {
  width: 100%;


}

#overview {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;


}

#main-blurb {
  text-align: justify;
  text-align-last: center;
}

#overview-blurb-wrap  {
  border: 2px solid black;
  padding: 20px;
  border-radius: 4px;
  /*background-color: #a7bbd7;*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);*/
}



.main-search-wrap  {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: white;
  height: 350px;
  overflow: hidden;
  margin-bottom: 50px;
  transition: box-shadow .3s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-search-wrap:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39), 0 -4px 8px 0 rgba(0, 0, 0, 0.4), 0 -6px 20px 0 rgba(0, 0, 0, 0.39);


}


.search-pic{
  width: 65%;
  top: 0;
  left: 0;
  padding: 0;
  min-height: 350px;
  background-image: url('../images/ski-fam.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

}

.search-blurb {
  position: absolute;
  width: 35%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
}

.search-blurb > div > p {
  font-family: inherit;
  font-size: 23px;
  color: black;
}

.searcher:hover .search-blurb > div > p   {
  color: black;
}








/*.card {
  margin-top:20px;
  margin-left: 20px;
  width: 27%;
}*/

#map {
  height: 400px;
  width: 100%;
 }


#resortList {
}

#all-resorts  {

}
#resSearchForm  {
  color:white;
}








/*       single resort        */



#resortList2 {
  display: block;
  margin:auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: auto;
  max-width: 600px;
  min-width: 200px;
  text-align: center;
}


.all-resorts-wrap  {
  text-align: center;
}

.card-contain {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.all-res-cards  {
  position: relative;
  width: 300px;
  margin: 10px 10px 10px 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  transition: box-shadow .08s;
  border-radius: 3px;

}

.all-res-cards > a  {
  /*text-decoration: none;*/
}

.all-res-cards:hover  {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.7), 0 10px 30px 0 rgba(0, 0, 0, 0.69);
}


.card-tops {
  overflow: hidden;
  height: 250px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-img {
  width: 150%;
}

.card-blocks  {
  background-color: rgba(255,255,255,.6);
  position: absolute;
  top: 0;
  left: 50;
  width: 100%;
  display: block;
  transition: background-color .08s;
}

.all-res-cards:hover .card-blocks {
  background-color: rgba(255, 255, 255, .85);

}

.card-titles  {
  color: black;;
  font-size: 30px;
}

.card-rating  {
  color: black;
  font-size: 17px;
}













.open-closed  {
  width: 15px;
  display: inline-block;
}

.lift-status  {
  display: inline-block;
  margin-left: 5px;
}

#load-time  {
  display:none;
}

/*.mySlides {
  display: none;
}

.mySlides:first-child  {
  display: block !important;
}*/
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


.








            /* Search form  */




.searcher   {
  width: 321px;
  margin: auto;
  text-align: center;
}

.searcher input {
  width: 320px;
}

#resSearchForm  {
margin: auto;
}

.range-labels {
  list-style: none;
  padding: 0;

}

.range-labels li  {
  display: inline-block;
  margin-right: 47px;
}

.list-last  {
  margin-right: 0px !important;
}



        /* Single Resort Page*/

.single-wrap  {
  position: relative;
  width: 90%;
  max-width: 1000px;
  min-width: 400px;
  background-color: grey;
  text-align: center;
  padding: 0;
  padding-bottom: 300px;
}

.pic-info {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  margin-bottom: 40px;
  border-radius: 5px;
}

.quick-stats  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  background-color: rgba(0,0,0,.7);
  color: white;
  height: 300px;
  float: right;
  text-align: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}


.resort-bottom  {
  width: 100%
}

.about_mnt_loc  {
  text-align:justify;
  width: 100%;
  text-align: center;
  background-color: #ededed;
}


.load-time  {
  display: flex;
  align-items: center;
  justify-content: center;

}


.about_mnt_terrain  {
  display: inline-block;

}

.ratings_all {
  display: inline-block;
}

.lifts-cam {
  width: 100%;
}

.webcam {
  position: relative;
}

.webcam img  {
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  opacity: 1;
}

#previous-slide, #next-slide {
position: absolute;
display: none;
z-index: 3333;
}

#previous-slide {
  top: 50;
  left: 0;
}

#next-slide {
  top: 50;
  right: 0;
}


.mySlides {
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.activeSlide {
  opacity: 1;
  z-index: 2;
}

#results  {
  display: block;
}


.ranges {
  width: 320px;
  margin: auto;
}

#modal-open {
  padding: 5px 8px 5px 8px;
  border: 2px solid white;
  border-radius: 5px;
  width: 140px;
  margin: auto;
}

#modal-open:hover{
  cursor: pointer;
}



.btn  {
 background-color: grey;

}

.btn:hover  {
  cursor: pointer;
}

#resSearchForm  {
  position: relative;
  text-align: center;
  margin: auto;

}

.modal-fade {
  background-color: rgba(0,0,0,.8);
  transition: background-color .3s;
}



.formFirst, .formSecond, .formThird  {
  display: none;
  margin: auto;
  background-color: white;
  width: 500px;
  color: black;
  position: absolute;
  top: 0px;
  left: 30%;
  padding: 20px;
  border-radius: 10px;
}

.modal-close  {
  float: right;
  background-color: grey;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  color: white;
}

.modal-close:hover{
  cursor: pointer;
}
